<%= form_for(@institute) do |f| %>
  <% if @institute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institute.errors.count, "error") %> prohibited this institute from being saved:</h2>

      <ul>
      <% @institute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
<<<<<<< HEAD
    <%= f.label :visiting_address %><br>
    <%= f.text_field :visiting_address %>
  </div>
  <div class="field">
    <%= f.label :email_address %><br>
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :operational_mode%><br>
   <%= select :operational_mode, "", options_for_select([ "Select the institute's operational mode", "Operates as a Hospital", "Operates as a Pharmacy" ]) %>
=======
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :mode %><br>
   <%= select :mode,choices=nil, options_for_select([ "Select an operational mode", "Operate a Hospital", "Operate a Pharmacy" ]) %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
<<<<<<< HEAD
    <%= f.label :remarks %><br>
    <%= f.text_area :remarks, :size => "40x5" %>
=======
    <%= f.label :remark %><br>
    <%= f.text_area :remark, :size => "40x5"  %>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
