<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @institute.name %>
</p>

<p>
<<<<<<< HEAD
  <strong>Visiting address:</strong>
  <%= @institute.visiting_address %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @institute.email_address %>
</p>

<p>
  <strong>Operational mode:</strong>
  <%= @institute.operational_mode %>
=======
  <strong>Address:</strong>
  <%= @institute.address %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @institute.mode %>
</p>

<p>
  <strong>Email:</strong>
  <%= @institute.email %>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
</p>

<p>
  <strong>City:</strong>
  <%= @institute.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @institute.phone %>
</p>

<p>
<<<<<<< HEAD
  <strong>Remarks:</strong>
  <%= @institute.remarks %>
=======
  <strong>Remark:</strong>
  <%= @institute.remark %>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
</p>

<%= link_to 'Edit', edit_institute_path(@institute) %> |
<%= link_to 'Back', institutes_path %>
