<h1>Listing personnels</h1>

<table>
  <thead>
    <tr>
      <th>Specialist</th>
      <th>Name</th>
      <th>Title</th>
      <th>Startdate</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Remark</th>
      <th>Office</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personnels.each do |personnel| %>
      <tr>
        <td><%= personnel.specialist %></td>
        <td><%= personnel.name %></td>
        <td><%= personnel.title %></td>
        <td><%= personnel.startdate %></td>
        <td><%= personnel.email %></td>
        <td><%= personnel.phone %></td>
        <td><%= personnel.remark %></td>
        <td><%= personnel.office %></td>
        <td><%= link_to 'Show', personnel %></td>
        <td><%= link_to 'Edit', edit_personnel_path(personnel) %></td>
        <td><%= link_to 'Destroy', personnel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personnel', new_personnel_path %>
