<p id="notice"><%= notice %></p>

<p>
  <strong>Specialist:</strong>
  <%= @personnel.specialist %>
</p>

<p>
<<<<<<< HEAD
  <strong>Title:</strong>
  <%= @personnel.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @personnel.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @personnel.start_date %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @personnel.email_address %>
=======
  <strong>Name:</strong>
  <%= @personnel.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @personnel.title %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @personnel.startdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @personnel.email %>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
</p>

<p>
  <strong>Phone:</strong>
  <%= @personnel.phone %>
</p>

<p>
<<<<<<< HEAD
  <strong>Duty station:</strong>
  <%= @personnel.duty_station %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @personnel.remark %>
=======
  <strong>Remark:</strong>
  <%= @personnel.remark %>
</p>

<p>
  <strong>Office:</strong>
  <%= @personnel.office %>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
</p>

<%= link_to 'Edit', edit_personnel_path(@personnel) %> |
<%= link_to 'Back', personnels_path %>
