<%= form_for [@commentable, :id] do |f| %>
  <% if @consult.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consult.errors.count, "error") %> prohibited this consult from being saved:</h2>

      <ul>
      <% @consult.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :patient_complain %><br>
    <%= f.text_area :patient_complain %>
  </div>
  <div class="field">
    <%= f.label :medical_diagnostic %><br>
    <%= f.text_area :medical_diagnostic %>
  </div>
  <div class="field">
    <%= f.label :medical_prescription %><br>
    <%= f.text_area :medical_prescription %>
  </div>
  <div class="field">
    <%= f.label :drugs_delivered %><br>
    <%= f.text_field :drugs_delivered %>
  </div>
  <div class="field">
    <%= f.label :drugs_delivered_by %><br>
    <%= f.text_field :drugs_delivered_by %>
  </div>
  <div class="field">
    <%= f.label :commentable_id %><br>
    <%= f.number_field :commentable_id %>
  </div>
  <div class="field">
    <%= f.label :commentable_type %><br>
    <%= f.text_field :commentable_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
