<<<<<<< HEAD
<h1>Listing consults</h1>
=======
<h2>Comments List</h2>

<table>  
<thead>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1

<div id="comments">
<% for consult in @consults %>
  <div class="comment">
<p>  
<<<<<<< HEAD
    <%=simple_format consult.patient_complain %> </p>
  </div>
<% end %>
</div>


<h2> New Complain </h2>

<%= form_for [@commentable, Consult.new] do |f| %>


<div class="field">
    <%= f.label :patient_complain %><br>
    <%= f.text_area :patient_complain, :size => "40x5" %>
  </div>
  <div class="field">
    <%= f.label :medical_diagnostic %><br>
    <%= f.text_area :medical_diagnostic, :size => "40x5" %>
  </div>
  <div class="field">
    <%= f.label :medical_prescription %><br>
    <%= f.text_area :medical_prescription, :size => "40x5" %>
  </div>
  <div class="field">
    <%= f.label :drugs_delivered %><br>
       <%= select :drugs_delivered, choices=nil, options_for_select([ "Select if the drugs have been delivered", "Yes, drugs have been delivered", "No, drugs have not been delivered" ]) %>
  </div>
  <div class="field">
    <%= f.label :drugs_delivered_by %><br>
      <%= select(:drugs_delivered_by, choices=nil, Institute.all.collect {|i| [ "Test ", i.name, i.visiting_address, i.id ] })%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
=======
    <%=simple_format consult.symptom %> </p>
  </div>
<% end %>
</div>
 </thead> 



<h2>New Comment</h2>
<tbody>



 </tbody>

</table>



<h2>New Comment</h2>
<%= form_for [@commentable, Consult.new] do |f| %>
  <div class="field">
    <%= f.label :symptom %><br />
    <%= f.text_area :symptom, :size => "40x7" %>
  </div>

<div class="field">
    <%= f.label :diagnostic %><br>
    <%= f.text_area :diagnostic, :size => "40x7" %>
  </div>
  <div class="field">
    <%= f.label :prescription %><br>
    <%= f.text_area :prescription, :size => "40x7" %>
  </div>
  <div class="field">
    <%= f.label :delivered %><br>
    <%= f.text_field :delivered %>
  </div>

  <div class="field">
    <%= f.label :pharmacy %><br>
    <%= f.date_select :pharmacy %>
  </div>
  <div class="actions">
    <%= submit_tag "Add comment" %>
  </div>

<% end %>

>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
