<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Patient complain:</strong>
  <%= @consult.patient_complain %>
</p>

<p>
  <strong>Medical diagnostic:</strong>
  <%= @consult.medical_diagnostic %>
</p>

<p>
  <strong>Medical prescription:</strong>
  <%= @consult.medical_prescription %>
</p>

<p>
  <strong>Drugs delivered:</strong>
  <%= @consult.drugs_delivered %>
</p>

<p>
  <strong>Drugs delivered by:</strong>
  <%= @consult.drugs_delivered_by %>
</p>

<p>
  <strong>Commentable:</strong>
=======
  <strong>Symptom:</strong>
  <%= @consult.symptom %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @consult.diagnostic %>
</p>

<p>
  <strong>Prescription:</strong>
  <%= @consult.prescription %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @consult.delivered %>
</p>

<p>
  <strong>Pharmacy:</strong>
  <%= @consult.pharmacy %>
</p>

<p>
  <strong>Commentable id:</strong>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
  <%= @consult.commentable_id %>
</p>

<p>
  <strong>Commentable type:</strong>
  <%= @consult.commentable_type %>
</p>

<<<<<<< HEAD
<%= link_to 'Edit', edit_member_consult_path(:member_id, @consult) %> |
=======
<%= link_to 'Edit', edit_member_consult_path(@consult) %> |
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
<%= link_to 'Back', member_consults_path %>
