<h1>Listing members</h1>

<table>
  <thead>
    <tr>
<<<<<<< HEAD
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>Email address</th>
      <th>Residential city</th>
      <th>Phone</th>
      <th>Remarks</th>
=======
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Gender</th>
      <th>Bdate</th>
      <th>Email</th>
      <th>City</th>
      <th>Phone</th>
      <th>Remark</th>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
<<<<<<< HEAD
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.gender %></td>
        <td><%= member.date_of_birth %></td>
        <td><%= member.email_address %></td>
        <td><%= member.residential_city %></td>
        <td><%= member.phone %></td>
        <td><%= member.remarks %></td>
=======
        <td><%= member.firstname %></td>
        <td><%= member.lastname %></td>
        <td><%= member.gender %></td>
        <td><%= member.bdate %></td>
        <td><%= member.email %></td>
        <td><%= member.city %></td>
        <td><%= member.phone %></td>
        <td><%= member.remark %></td>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
