<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
=======
  <strong>Firstname:</strong>
  <%= @member.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @member.lastname %>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
<<<<<<< HEAD
  <strong>Date of birth:</strong>
  <%= @member.date_of_birth %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @member.email_address %>
</p>

<p>
  <strong>Residential city:</strong>
  <%= @member.residential_city %>
=======
  <strong>Bdate:</strong>
  <%= @member.bdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
<<<<<<< HEAD
  <strong>Remarks:</strong>
  <%= @member.remarks %>
=======
  <strong>Remark:</strong>
  <%= @member.remark %>
>>>>>>> 0f4c01a4e2ea72be6a09a2959b5411bf484777d1
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
